@namespace mx "library://ns.adobe.com/flex/mx";
@namespace s "library://ns.adobe.com/flex/spark";

.stimulus {
    color: white;
    font-size: 24;
}

.instructions {
    color: black;
    font-size: 20;
}

mx|ProgressBar {
    barColor: #3399ff;
    trackColors: #cccccc, #e6eeee;
    color: #cccccc;
    textIndent: 0;
    trackHeight: 10;
    fontSize: 14;
    fontWeight: normal;
}

mx|Button {
    cornerRadius: 12;
    textIndent: 0;
    paddingLeft: 12;
    paddingRight: 12;
    paddingTop: 7;
    paddingBottom: 7;
    letterSpacing: 0;
    fontSize: 18;
}

mx|Label {
    fontSize: 18;
    color: gray;
}

/* really ought to be s|Panel s|controlBarContents mx|Label but the compiler
barfs on that for some reason */
mx|Panel mx|Label {
    color: white;
    padding: 10;
}

mx|Panel {
    titleStyleName: "panelTitle";
}

.panelTitle {
    color: white;
    fontSize: 20;
}

mx|Label.panel {
    fontSize: 18;
    color: white;
}

mx|Alert {
    title-style-name : "alertTitle";
    header-height:36;
    border-thickness: 1;
    drop-shadow-enabled: false;
    corner-radius :6;
    border-style :solid;
    font-size: 48;
    padding-top: 15;
    padding-bottom: 15;
    padding-left: 15;
    padding-right: 15;
    color: red;
}

.alertTitle{
    font-family :Verdana;
    font-size : 24;
    font-weight : bold;
    text-align : center;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10;
    padding-right: 10;
}
